nav{
    font-family: SairaCondensed-BOLD;
    font-size: 3vh ;
    
    background-color: #1D1A20!important;
}

nav .navbar-brand{
    font-size: 3vh;
    color: #F1F2F4!important;
}

nav .nav-link{
    font-size: 2vh;
    color: #F1F2F4!important;
}