<div class="home" (click)="randomizeDice()">
    <div class="title  text-center">
        <h1><i>DICE GAME</i></h1>
        <h2 routerLink="/game"><i>PLAY</i></h2>
        <a href="https://www.linkedin.com/in/s%C3%A9bastien-borgne/"><b>SEBASTIEN BORGNE </b></a>
    </div>

    
    <div class="dice-container d-lg-block d-none">
        <div class="dice" id="dice1">
          <div class="face front">1</div>
          <div class="face back">2</div>
          <div class="face right">3</div>
          <div class="face left">4</div>
          <div class="face top">5</div>
          <div class="face bottom">6</div>
        </div>
        <div class="dice" id="dice2">
          <div class="face front">1</div>
          <div class="face back">2</div>
          <div class="face right">3</div>
          <div class="face left">4</div>
          <div class="face top">5</div>
          <div class="face bottom">6</div>
        </div>
      </div>

</div>